@page "/"

<div class="text-center">
       <AuthorizeView>
           <Authorized>
               <h1>Hello, @context.User.Identity?.Name!</h1>
               <a>Ta staona umożliwaw </a>
           </Authorized>
           <NotAuthorized>
               <h1>Hello, world!</h1>
           </NotAuthorized>
       </AuthorizeView>
    </div>






