@page "/MapGenerator"
@using Client.Services
@using Shared.DTO
<h3>MapGenerator</h3>
@inject MapService MapS
@inject IJSRuntime Js
@inject ILocalStorageService LocalStorageService


<table class="table">
	<thead>
		<tr>
			<th>Nazwa zbiory</th>
			<th>Zobacz</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var ts in MapS.TileSetDtos)
		{
			<tr>
				<td>
					<div>@ts.Name</div> </td>
				<td>
					<button class="btn btn-primary"
					        @onclick="(() => SetCurrSet(ts))">
						<i class="oi oi-pencil"></i>
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>


@code {
    protected override async void OnInitialized()
    {
	    await MapS.TileSets2();
    }

    private void SetCurrSet(TileSetDto tileSetDto)
    {
	    
    }
}